html{
    background-color: #212121;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: "Lexend", sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.insta {
    height: 50px;
    width: 50px;
    transform: translate(75px,100px);
    position: absolute;
    z-index: 2;
}

.linkedin {
    height: 50px;
    width: 50px;
    transform: translate(205px,100px);
    position: absolute;
    z-index: 2;
}

.gmail {
    height: 50px;
    width: 50px;
    transform: translate(140px,100px);
    position: absolute;
    z-index: 2;
}

.center {
    width: 30%;
    height: 45%;
    position: absolute;
    border-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

h6 {
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    transform: translateY(-3rem);
    letter-spacing: 0.1em;
    position: absolute;
    color: #CDBE78;
    transition: 2s;
    transition-delay: 2s;
    z-index: 2;
}

.center:hover h6 {
    transform: translateY(3rem);
    transition: 2s;
}

span:nth-child(1) {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    background: #212121;
    border: 5px solid #CDBE78;
    bottom: 0;
    transition: 2s;
    transition-delay: 2s;
    z-index: 2;
}

.center:hover span:nth-child(1) {
    transform-origin: center;
    transform: rotate(180deg);
    transition: 2s;
}

span:nth-child(1) h5 {
    font-size: 3rem;
    font-weight: 700;
    color: #212121;
    transform: translate(1rem, 9rem);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    position:absolute;
    z-index: 2;
}

span:nth-child(1)::after {
    content: "";
    width: 25.1rem;
    height: 12.6rem;
    border-radius: 0 0 12.6rem 12.6rem;
    transform: translate(-1px, 12.5rem);
    background: #CDBE78;
    position: absolute;
}

.line {
    width: 100%;
    height: 10px;
    position: absolute;
    background-color: #CDBE78;
    z-index: 1;
}

.line-block {
    transform: translateX(760px);
    width: 400px;
    height: 10px;
    position: absolute;
    background-color: #212121;
    z-index: 0;
}

#sophmore {
    transform: translate(-45rem, -3.5rem);
    color: #CDBE78;
    font-size: 4rem;
    text-decoration: none;
}